MONGODB_URL="mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DATABASE"

AUTH_SECRET="your-generated-auth-secret"

EMAIL="your-email@example.com"
PASS="your-email-app-password"

GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_ZEGO_APP_ID="your-zegocloud-app-id"
NEXT_PUBLIC_ZEGO_SERVER_SECRET="your-zegocloud-server-secret"

NEXT_PUBLIC_SOCKET_SERVER="http://localhost:8000"

RAZORPAY_KEY_ID="your-razorpay-key-id"
RAZORPAY_KEY_SECRET="your-razorpay-key-secret"
NEXT_PUBLIC_RAZORPAY_KEY="your-razorpay-key-id"